@using BlazorClient.Models
@using Microsoft.AspNetCore.Mvc.Formatters
@using Newtonsoft.Json
@using System.Net.Mime
@using System.Text

@page "/apifetch"
<h3>ApiFetch</h3>

<EditForm Model="@model" OnValidSubmit="@HandleSubmit" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="username" @bind-Value="model.UserName" />
    <InputText id="email" @bind-Value="model.Email" />
    <InputText id="firstname" @bind-Value="model.FirstName" />
    <InputText id="lastname" @bind-Value="model.LastName" />
    <InputText id="country" @bind-Value="model.Country" />
    <InputText id="password" type="password" @bind-Value="model.Password" />
    <InputText id="confirm-password" type="password " @bind-Value="model.ConfirmPassword" />

    <button type="submit">Submit</button>
</EditForm>

@code {

    private RegisterViewModel model = new RegisterViewModel();

    private async Task HandleSubmit()
    {
        var _httpClient = new HttpClient();

        var uri = "http://identity.api/api/v1/account/register";

        var content = JsonConvert.SerializeObject(model, Formatting.None);

        var json = new StringContent(content, Encoding.UTF8, MediaTypeNames.Application.Json);

        var response = await _httpClient.PostAsync(uri, json);
    }
}
