<h3>Login</h3>

@page "/login"
@using BlazorClient.Models
@using Newtonsoft.Json
@using System.Text
@using System.Net.Mime

<EditForm Model="@model" OnValidSubmit="@HandleSubmit" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="email" @bind-Value="model.Email" />
    <InputText id="password" @bind-Value="model.Password" />


    <button type="submit">Login</button>
</EditForm>

@code {
    LoginViewModel model = new LoginViewModel();

    private async Task HandleSubmit()
    {
        var _httpClient = new HttpClient();

        var uri = "http://identity.api/api/v1/account/signin";

        var content = JsonConvert.SerializeObject(model, Formatting.None);

        var json = new StringContent(content, Encoding.UTF8, MediaTypeNames.Application.Json);

        var response = await _httpClient.PostAsync(uri, json);

        response.EnsureSuccessStatusCode();
    }
}
